@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Baskervville:regular,italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contain {
  max-width: 75vw;
  margin: auto;
}

.golden-button {
  background: #CC9933;
  text-decoration: none;
  color: #fff;
  height: 54px;
  width: 191px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.371px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.golden-button:hover {
  background: #fff;
  color: #CC9933;
}

.blue-button {
  background: #001747;
  color: #fff;
  height: 54px;
  width: 191px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.371px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  cursor: pointer;
  border: none;
}
.blue-button:hover {
  background: #fff;
  color: #CC9933;
}

.navbar {
  background: #000D28;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .contain {
  width: 100%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}
.navbar .contain .logo {
  transition: all 0.7s ease-out;
}
.navbar .contain .menu {
  display: flex;
  gap: 4rem;
  align-items: center;
  transition: all 0.3s ease-out;
}
.navbar .contain .menu ul {
  transition: all 0.3s ease-out;
  display: flex;
  list-style: none;
  gap: 4rem;
}
.navbar .contain .menu ul li a {
  display: block;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14.371px;
  text-align: center;
  font-weight: 700;
  transition: all 0.3s ease-out;
}
.navbar .contain .menu ul li a:hover {
  background: #fff;
  color: #CC9933;
}
.navbar .contain .menu .menu-icon {
  display: none;
}
@media screen and (max-width: 1280px) {
  .navbar .contain .menu {
    gap: 1rem;
  }
  .navbar .contain .menu ul {
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .navbar .contain .menu ul {
    display: none;
  }
  .navbar .contain .menu a {
    display: none;
  }
  .navbar .contain .menu .menu-icon {
    display: block;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  .navbar .contain .menu .menu-icon:hover {
    transform: scale(1.1);
  }
  .navbar .contain .menu .menu-icon:active {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 500px) {
  .navbar .contain {
    justify-content: space-between;
  }
  .navbar .contain .logo {
    flex: 2;
    text-align: center;
  }
}

.sidebar {
  background: #0E0E0E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  z-index: 20;
  color: #fff;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: none;
}
.sidebar .sidebar-close {
  position: absolute;
  top: 5.5%;
  right: 10%;
  transition: all 0.3s ease-out;
  cursor: pointer;
  display: none;
  opacity: 0;
}
.sidebar .sidebar-close:hover {
  transform: scale(1.1);
}
.sidebar .sidebar-close:active {
  transform: scale(1.3);
}
@media screen and (max-width: 500px) {
  .sidebar .sidebar-close {
    display: block;
    opacity: 1;
  }
}
.sidebar .sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.sidebar .sidebar-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  width: 200px;
}
.sidebar .sidebar-links ul li a {
  display: block;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  transition: all 0.3s ease-out;
}
.sidebar .sidebar-links ul li a:hover {
  background: #fff;
  color: #CC9933;
}
.sidebar .sidebar-links ul li a:active {
  background: rgb(17, 17, 17);
  color: #CC9933;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    display: flex;
    left: -500px;
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
  .sidebar .sidebar-links ul {
    align-items: center;
  }
}
.sidebar.active {
  opacity: 1;
  left: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.hero .hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1;
}
.hero .hero-title .text {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-title .text h1 {
  margin: 0;
  font-size: 6.5vw;
  text-align: center;
}
.hero .hero-title .text h1:nth-child(1) {
  color: #CC9933;
  font-weight: 700;
}
.hero .hero-title .text h1:nth-child(2) {
  line-height: 0.5;
  color: #000D28;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .hero .hero-title .text h1 {
    font-size: 8.5vw;
  }
}
.hero .hero-images {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero-images .swiper {
  width: 100%;
  height: 248px;
}
.hero .hero-images .swiper .swiper-slide {
  background-color: black;
}
.hero .hero-images .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .hero .hero-images {
    flex-direction: row;
  }
  .hero .hero-images .swiper {
    height: 500px;
  }
}

.quotes {
  background: #000D28;
  min-height: 549px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quotes #symbol {
  position: absolute;
  top: 20%;
  left: 15%;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 1024px) {
  .quotes #symbol {
    left: 15%;
  }
  .quotes #symbol img {
    width: 70px;
  }
}
@media screen and (max-width: 768px) {
  .quotes #symbol {
    left: 15%;
    top: 30%;
  }
  .quotes #symbol img {
    width: 60px;
  }
}
@media screen and (max-width: 500px) {
  .quotes #symbol {
    left: 10%;
    top: 30%;
  }
  .quotes #symbol img {
    width: 50px;
  }
}
.quotes .contain {
  position: relative;
}
.quotes .contain .text {
  color: #fff;
  max-width: 68vw;
}
.quotes .contain .text .swiper-slide {
  padding: 1rem;
  font-size: 3rem;
  text-align: left;
  font-family: "Baskerville";
  user-select: none;
}
.quotes .contain .text .swiper-slide p:nth-child(1) {
  font-family: "Baskervville", sans-serif;
}
.quotes .contain .text .swiper-slide p:nth-child(2) {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.quotes .contain .button-next,
.quotes .contain .button-prev {
  color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 1.7rem;
  transition: all 0.7s ease-out;
}
.quotes .contain .button-next:hover,
.quotes .contain .button-prev:hover {
  background-color: #fff;
  color: #000D28;
}
.quotes .contain #backbutton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100px, -50%);
  z-index: 200;
  text-align: right;
}
.quotes .contain #nextbutton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100px, -50%);
  z-index: 200;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .quotes .contain {
    overflow-x: hidden;
  }
  .quotes .contain #backbutton {
    opacity: 0;
  }
  .quotes .contain #nextbutton {
    opacity: 0;
  }
  .quotes .contain .text .swiper-slide {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .quotes .contain {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .quotes .contain .text {
    max-width: 100vw;
  }
  .quotes .contain .text .swiper-slide {
    font-size: 1.5rem;
    text-align: center;
  }
  .quotes .contain .text .swiper-slide p:nth-child(2) {
    font-size: 1rem;
  }
}
.quotes #paginationdots {
  bottom: 20px;
}
.quotes .swiper-pagination-bullet {
  background: rgb(255, 255, 255);
}

.whatwedo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
.whatwedo .w-projects {
  padding: 1.5rem;
  display: flex;
  min-height: 65%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.whatwedo .w-projects .project {
  width: 390px;
  min-height: 531px;
  background: #000D28;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 2rem;
}
.whatwedo .w-projects .project .p-image {
  width: 100%;
}
.whatwedo .w-projects .project .p-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.whatwedo .w-projects .project .p-title {
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  padding: 0 1rem;
}
.whatwedo .w-projects .project .p-desc {
  user-select: none;
  font-family: "Baskervville", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 2rem;
  margin-bottom: 1.2rem;
}
.whatwedo .w-projects .project .p-button {
  width: 90%;
}
.whatwedo .w-projects .project .p-button .blue-button {
  font-size: 1.25rem;
  width: 100%;
  font-weight: 400;
}
.whatwedo .w-projects .project .p-button .blue-button:hover {
  background: #CC9933;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .whatwedo .w-projects {
    flex-direction: column;
  }
  .whatwedo .w-projects .project {
    width: 100%;
  }
}
.whatwedo .w-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  user-select: none;
}
.whatwedo .w-text .w-line {
  margin-top: 3.5rem;
  width: 60px;
  height: 0px;
  border: 2px solid #001747;
  border-radius: 50px;
  user-select: none;
}
.whatwedo .w-text .w-text p {
  user-select: none;
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  max-width: 900px;
  font-weight: 500;
  padding: 0 2rem;
}
.whatwedo .w-text .w-text p span {
  display: block;
  font-weight: 700;
  color: #CC9933;
}

.services {
  min-height: 50vh;
  background-color: #000D28;
  padding-bottom: 8rem;
}
.services .contain {
  display: flex;
  flex-direction: column;
}
.services .contain .services-title {
  color: #fff;
  text-align: center;
  padding: 3rem;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.services .contain .services-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}
.services .contain .services-tiles .tile {
  user-select: none;
  background: #fff;
  min-width: 100%;
  height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.services .contain .services-tiles .tile p {
  font-size: 2.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.services .contain .services-tiles .tile:hover {
  background: #CC9933;
  color: #fff;
}
.services .contain .services-tiles .tile:hover img {
  filter: invert(100%);
}
.services .contain .services-tiles .tile:active {
  background: #CC9933;
  color: #fff;
}
.services .contain .services-tiles .tile:active img {
  filter: invert(100%);
}
@media screen and (max-width: 500px) {
  .services .contain {
    padding: 2rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .services .contain {
    overflow: hidden;
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding-bottom: 5rem;
  }
  .services .contain .services-tiles {
    gap: 5rem;
  }
}

.history {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 5rem;
}
.history .history-text {
  width: 451px;
  padding: 1rem;
}
.history .history-text h1 {
  user-select: none;
  font-weight: 500;
  font-size: 2.75rem;
  font-family: "Poppins", sans-serif;
  color: #000D28;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.history .history-text h1 span {
  color: #CC9933;
}
.history .history-text p {
  user-select: none;
  font-family: "Baskervville", sans-serif;
  font-size: 1.4rem;
  line-height: 28px;
}
.history .history-image {
  width: 531px;
  height: 536px;
  user-select: none;
}
.history .history-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
@media screen and (max-width: 1024px) {
  .history {
    flex-direction: column;
    padding: 5rem 0rem;
    gap: 1rem;
  }
  .history .history-image {
    width: 70%;
    height: 70%;
  }
  .history .history-text {
    order: 2;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .history .history-image {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .history .history-text {
    width: 100%;
    text-align: center;
  }
}

.getintouch {
  background: #000D28;
  color: #fff;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.getintouch .contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
.getintouch .contain .main-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  user-select: none;
}
.getintouch .contain .main-title h1:nth-child(1) {
  color: #CC9933;
  font-weight: 700;
}
.getintouch .contain .main-title h1:nth-child(2) {
  margin-top: -35px;
  color: #fff;
  font-weight: 500;
}
.getintouch .contain p {
  user-select: none;
  font-family: "Baskervville", sans-serif;
  max-width: 550px;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .getintouch .contain p {
    font-size: 1.4rem;
    padding: 0rem 1rem;
  }
}

footer {
  background: #000D28;
  border-top: 1px solid #CC9933;
  padding-top: 4rem;
}
footer .contain {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .contain .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 4rem;
}
footer .contain .footer-content .footer-icons .icons-logo {
  margin-bottom: 2rem;
  width: 165px;
}
footer .contain .footer-content .footer-icons .icons-logo img {
  width: 100%;
}
footer .contain .footer-content .footer-icons .icons-socials {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
footer .contain .footer-content .footer-icons .icons-socials a {
  background: #263148;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contain .footer-content .footer-links {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
footer .contain .footer-content .footer-links p:nth-child(1) {
  margin-bottom: 1rem;
}
footer .contain .footer-content .footer-links p {
  margin-bottom: 0.3rem;
}
footer .contain .footer-content .footer-links a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
footer .contain .footer-content .footer-contact {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
}
footer .contain .footer-content .footer-contact p:nth-child(1) {
  font-weight: 700;
  margin-top: 1rem;
  text-transform: uppercase;
}
footer .contain .footer-content .footer-contact p {
  margin-bottom: 0.3rem;
  text-transform: lowercase;
}
footer .contain .footer-content .footer-contact p a {
  color: #fff;
  text-decoration: none;
}
footer .contain .footer-content .footer-postal {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
}
footer .contain .footer-content .footer-postal p:nth-child(1) {
  font-weight: 700;
  margin-top: 1rem;
  text-transform: capitalize;
}
footer .contain .footer-content .footer-postal p {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  footer .contain .footer-content {
    justify-content: space-evenly;
  }
  footer .contain .footer-content .footer-icons .icons-logo {
    width: 269px;
    margin: auto;
    margin-bottom: 1rem;
  }
  footer .contain .footer-content .footer-links {
    width: 30%;
    margin-left: 3rem;
  }
  footer .contain .footer-content .footer-contact {
    width: 30%;
  }
}
@media screen and (max-width: 840px) {
  footer .contain .footer-content {
    flex-direction: column;
    gap: 2rem;
  }
  footer .contain .footer-content .footer-icons {
    width: 100%;
  }
  footer .contain .footer-content .footer-icons .icons-socials {
    display: none;
  }
  footer .contain .footer-content .footer-icons .icons-logo {
    margin-bottom: 1rem;
  }
  footer .contain .footer-content .footer-links {
    display: none;
  }
  footer .contain .footer-content .footer-contact {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
  }
  footer .contain .footer-content .footer-postal {
    font-size: 1.2rem;
    text-align: center;
  }
}
footer .contain .footer-credits {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1.5rem;
}
footer .contain .footer-credits p:last-child span {
  font-weight: 700;
}
@media screen and (max-width: 840px) {
  footer .contain .footer-credits {
    flex-direction: column;
    line-height: 1.5rem;
  }
  footer .contain .footer-credits span {
    display: none;
  }
  footer .contain .footer-credits p:last-child {
    font-weight: 300;
  }
  footer .contain .footer-credits p:last-child span {
    display: inline;
  }
}
@media screen and (max-width: 840px) {
  footer .contain {
    margin-top: 0rem;
  }
}

.app,
.container {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
